/* Style for the AnchorPane */
.anchor-pane {
    -fx-background-color: #ddfac3;
    -fx-background-radius: 10;
}

/* Style for the VBox containing the main elements */
.main-vbox {
    -fx-background-radius: 10;
}

/* Style for the Text element showing the current status */
.current-status {
    -fx-font-weight: bold;
    -fx-font-size: 25px;
}

/* Style for the ImageView */
.image-view {
    -fx-margin: 10px;
}

/* Style for the TextField */
.ticket-number-field {
    -fx-pref-width: 100%;
}



/* Style for GridPane */
.main-gridpane {
    -fx-alignment: center;
    -fx-vgap: 10px;
    -fx-padding: 10px;
}

.confirm-button {
    -fx-pref-width: 100%;
    -fx-min-width: 200px;
    -fx-background-color: #4CAF50;
    -fx-background-radius: 5;
    -fx-text-fill: white;
    -fx-font-size: 16px;
}