/* AnchorPane background color */
.anchor-pane {
    -fx-background-radius: 10;
    -fx-background-color: #ddfac3;
}

/* VBox background color and spacing */
.vbox {
    -fx-alignment: center;
    -fx-spacing: 10;
    -fx-padding: 10;
}

/* GridPane styles */
.grid-pane {
    -fx-padding: 10;
}

/* TextField styles */
.progress-info {
    -fx-pref-height: 30px;
    -fx-pref-width: 900px;
    -fx-padding: 10;
    -fx-background-color: white;
    -fx-border-color: gray;
    -fx-border-width: 1;
    -fx-border-radius: 5;
}

/* ProgressBar styles */
.progress-bar {
    -fx-pref-height: 50px;
    -fx-pref-width: 900px;
}
