/* ========== AnchorPane Background with Gradient ========== */
/*.anchor-pane {
    -fx-background-color: linear-gradient(to bottom right, #4B3D9B, #d5cff7);
}*/

/* ========== VBox Card Style ========== */
.vbox {
    -fx-background-color: Transparent;
    -fx-alignment: center;
    -fx-spacing: 20;
    -fx-padding: 30;
    -fx-background-radius: 15;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.2), 20, 0, 0, 10);
}

/* ========== Label Style ========== */
.label {
    -fx-font-size: 24px;
    -fx-font-weight: bold;
    -fx-text-fill: #333333;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.15), 2, 0, 0, 1);
}

/* ========== Input Fields ========== */
.text-field, .password-field {
    -fx-pref-width: 250px;
    -fx-padding: 12;
    -fx-background-radius: 5;
    -fx-background-color: #ffffff;
    -fx-border-color: #cccccc;
    -fx-border-radius: 5;
    -fx-font-weight: bold;
    -fx-border-width: 1;
    -fx-font-size: 16px;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.05), 5, 0, 0, 3);
}

.text-field:focused, .password-field:focused {
    -fx-border-color: #4B3D9B;
    -fx-effect: dropshadow(gaussian, rgba(250, 169, 20, 0.3), 5, 0, 0, 3);
}

/* ========== Button Theme ========== */
.button {
    -fx-background-color: #4B3D9B;
    -fx-background-radius: 5;
    -fx-text-fill: white;
    -fx-pref-height: 45px;
    -fx-pref-width: 250px;
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-cursor: hand;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.2), 5, 0, 0, 3);
    -fx-padding: 0 25 0 25;
}

.button:hover {
    -fx-background-color:#4B3D9B;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.3), 10, 0, 0, 5);
}

.button:focused {
    -fx-background-color:#4B3D9B;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.3), 10, 0, 0, 5);
}

.button:pressed {
    -fx-background-color: #4B3D9B;
    -fx-effect: innershadow(gaussian, rgba(0, 0, 0, 0.6), 5, 0, 0, 3);
    -fx-padding: 0 25 3 22;
}

/* ========== Message Label ========== */
#messageLabel {
    -fx-text-fill: red;
    -fx-font-weight: bold;
    -fx-font-size: 12px;
    -fx-padding: 8;
    -fx-background-color: rgba(255, 0, 0, 0.1);
    -fx-background-radius: 5;
    -fx-effect: dropshadow(gaussian, rgba(255, 0, 0, 0.3), 5, 0, 0, 3);
}

/* ========== Logo ========== */
#logo {
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.5), 15, 0, 0, 5);
    -fx-padding: 25;
}

#logoPane {
    -fx-background-image: url("../images/indore-bhopal-logo.png");
    -fx-background-repeat: no-repeat;
    -fx-background-size: contain; /* or cover if you want full coverage */
    -fx-background-position:center;
}