.root {
    /* looked-up values (must be defined in a parent/root node) */
    -header-gradient: linear-gradient(to right, #ffb733, #ff9a00);
    -button-primary: #ff9a00;
    -button-secondary: #8f1f1f;
    -button-hover: #e74034;
    -button-backSpace : #6b6b6b
    -header-gradient: linear-gradient(to right, #ffb733, #ff9a00);
    -logo : url("/images/upmrc_logo.png");
}

.header {
    -fx-background-color: -header-gradient; /* use the looked-up value */
}

.button-primary {
    -fx-background-color: -button-primary;
    -fx-text-fill: white;
}

.button-secondary {
    -fx-background-color: -button-secondary;
    -fx-text-fill: white;
}

.logo-pane {
    -fx-background-image: url("/images/indoor-bhopal-logo.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-size: contain;      /* keep aspect ratio */
    -fx-pref-width: 227px;
    -fx-pref-height: 100px;
    -fx-padding: 4px;                  /* optional */
    -fx-background-color: transparent; /* fallback */
}

.button-purchase {
    -fx-background-color: -header-gradient;
}

.main-button{
    -fx-background-color: -header-gradient;
 }

 /* Hover effect */
 .main-button:hover {
     -fx-background-color:-button-hover ;
     -fx-text-fill: #fff;
 }

 .main-button:pressed {
     -fx-background-color: -button-secondary;
     -fx-text-fill: #fff;
 }

 .main-button:selected {
        -fx-background-color: -button-secondary;
        -fx-text-fill: #fff;
    }

 .nav-button{
     -fx-background-color: -button-hover;
     -fx-text-fill: -button-secondary;
  }

   /* Hover effect */
   .nav-button:hover {
       -fx-background-color:-button-hover ;
       -fx-text-fill: #fff;
   }

   .nav-button:pressed {
       -fx-background-color: -button-secondary;
       -fx-text-fill: #fff;
   }

.numpad {
   -fx-background-color:-button-secondary;
   }

 .heading-label {
    -fx-text-fill: -button-secondary;
 }

 .clear {
     -fx-background-color:-button-backSpace;
      -fx-text-fill:white;
 }

 .pay-method {
     -fx-background-color:-button-hover;
      -fx-text-fill:white;
 }

  .pay-method:pressed {
      -fx-background-color:-button-secondary;
       -fx-text-fill:white;
  }

   .pay-method:selected {
       -fx-background-color:-button-secondary;
        -fx-text-fill:white;
   }
