/* style.css */

/* Background and border radius for AnchorPane */
.anchor-pane {
    -fx-background-radius: 10;
    -fx-padding: 10;
    /* Apply a static gradient as the initial background */
/*    -fx-background-color: linear-gradient(to right, #f6dbae, #f6b5b2);*/
}

/*.vbox {
    -fx-background-color: linear-gradient(to bottom, #f5e2a0, rgb(211, 182, 250));
    -fx-border-color: #ecf0f1;
    -fx-border-width: 2;
    -fx-border-radius: 10;
    -fx-background-radius: 10;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.5), 10, 0.5, 0, 0);
}*/

/* Text styling */
.text-bold {
    -fx-font-weight: bold;
    -fx-font-size: 25.0;
}

/* Button styling */
.button-resume {
    -fx-pref-width: 100%;
    -fx-min-width: 200px;
    -fx-background-color: #B2D3F7;
    -fx-background-radius: 5;
    -fx-text-fill: white;
    -fx-weight: bold;
    -fx-font-size: 20.0;
    -fx-padding: 10 20 10 20;
    -fx-cursor: hand; /* Change cursor to pointer */
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.3), 5, 0, 0, 1); /* Add shadow effect */
}


.button-resume:hover {
    -fx-background-color: #B2D3F7;
    -fx-effect: dropshadow(gaussian, rgba(255,255,255,0.3), 15, 0.2, 6, 6),
                 dropshadow(three-pass-box, rgba(0,0,0,0.4), 10, 0, 0, 5);
}

.button-resume:pressed {
    -fx-background-color: #B2D3F7;
    -fx-effect: innershadow(three-pass-box, rgba(0,0,0,0.6), 10, 0, 0, 5);
    -fx-padding: 12 22 8 18;
}


/* Password field styling */
.password-field {
    -fx-pref-width: 100%;
    -fx-alignment: center;
    -fx-padding: 10.0;
}

/* ImageView styling */
.image-view {
    -fx-fit-height: 688.0;
    -fx-fit-width: 369.0;
    -fx-pick-on-bounds: true;
    -fx-preserve-ratio: true;
}

/* Time text styling */
.text-time {
    -fx-font-weight: bold;
    -fx-font-size: 20px;
    -fx-fill: #ff1c1c;
    -fx-font-family: 'Arial';
}

/* GridPane margin */
.grid-pane-margin {
    -fx-margin: 10.0;
}
