.hbox-background{
    -fx-background-color: rgba(214, 236, 204, 0);
    -fx-padding: 2;
    -fx-border-color: #000000;
    /*-fx-border-width: 2;*/
    /*-fx-border-radius: 5;*/
}


.status-button {
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.25), 5, 0.5, 0, 0);
    -fx-border-color: #cbd5e0;
    -fx-background-color: #6ae870;

}

.status-button.active {
    -fx-background-color: #00ff11; /* Tailwind CSS teal-500 */
}

.status-button.inactive {
    -fx-background-color: #ff0000; /* Tailwind CSS gray-300 */
}
